/* импорт шрфта */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Russo+One&display=swap');

/* сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    border-color: none;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: inherit;
}





/* общие стили */

body {
    font-family: Poppins, sans-serif;
    color: #FFF;
}

html {
    scroll-behavior: smooth;
}






/* header и ограничительная линия */

.header {
    background-color: #171718;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 115px;
}

.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

nav {
    font-size: 16px;
    display: flex;
    gap: 40px;
}

nav a:hover {
    text-decoration: underline;
}

.separator {
    height: 2px;
    background-color: #26292D;
}








/* приветствование */

.greeting {
    padding: 34px 0;
    height: 700px;
    background-color: #171718;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./Abstract.png);
    background-size: 670px 670px ; 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.greeting-text {
    font-size: 40px;
}

.greeting-text span {
    color: #5C62EC;
}

.greeting-description {
    margin-top: 20px;
    font-weight: 18;
}

.greeting-btn {
    margin-top: 40px;
    background-color: #5C62EC;
    padding: 12px 28px;
    border-radius: 5px;
    color: #FFF;
}








/* projects */

.projects {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 60px;
}

.projects-title {
    color: #5C62EC;
    font-size: 60px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.projects-item {
    padding: 10px;
    border-radius: 20px;
    height: 450px;
    width: 750px;
    background-color: rgba(0, 0, 0, 0.25);
}

.projects-img {
    width: 720px;
    height: 400px;
}

.project-item__title {
    color: #171718;
    font-size: 20px;
    font-weight: 700;
}







/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 50px 0;
    background-color: rgba(23, 23, 24, 1);
    gap: 70px;
}

.footer-title {
    color: #5C62EC;
    font-size: 60px;
}

.contacts {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.contacts a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.contacts a img {
    width: 50px;
    height: 50px;
}